html,
body {
  background-color: #fff;
  height: 100%;
}

main {
  background: #43cea2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #185a9d,
    #43cea2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #185a9d,
    #43cea2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-radius: 10px;
  color: #fff;
}

h1 {
  font-size: 48px;
}

h3 {
  font-size: 28px;
}

h1,
h3 {
  font-family: "Roboto", sans-serif;
}

button,
input,
p {
  font-family: "Open Sans", sans-serif;
}

input {
  border-radius: 100px;
  width: 75%;
  outline: none;
  padding: 0.75rem;
  border: none;
}

button {
  background: #fff;
  border-radius: 100px;
  outline: none;
  border: none;
}

button:hover {
  background-color: #2e189a;
  color: white;
}

p {
  font-size: 20px;
}
